body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.weather-icons-container {
    margin-left: 155px;}

.dag-van-week {
    margin-left: 155px;
}

.weather-icon {
    display: inline-block;
    margin-right: 10px; 
}

table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 2px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f2f2f2;
}
